defaults
    mode http
    timeout connect 5s
    timeout client  1h
    timeout server  1h
    timeout queue   1h

frontend llm
    bind :8080
    monitor-uri /health
    default_backend llamacpp_pool

backend llamacpp_pool
    balance leastconn
    option httpchk GET /health

    server local  llamacpp:8080 maxconn 4 check
    server remote host.containers.internal:8000 maxconn 16 check
